@using ERP.WebApi.Helpers
<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar">
        <!-- START sidebar nav-->
        <ul class="nav">
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->
            <li class="nav-heading">
                <span>Main Navigation</span>
            </li>
            <li class="@Html.IsActive(controller: "SingleView")">
                <a href="@Url.Action("Index", "Home")" title="Home">
                    <em class="icon-speedometer"></em>
                    <span>Home</span>
                </a>
            </li>
            <li class="@Html.IsActive(controller: "Movies")">
                <a href="@Url.Action("Settings", "Account")" title="Settings">
                    <em class="icon-settings"></em>
                    <span >Settings</span>
                </a>
            </li>
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->