
<style>
    #loading {
        width: 100%;
        padding: 15%;
        /*background: orange;*/
        color: #054850;
        text-align: center;
        margin: 0 auto;
        display: none;
    }
</style>

<div id="loading" class="reload">
    <img src="~/Images/reportsSpinner.gif" style="width: 196px;" />
    <span style="margin-left: -150px;">Loading report...</span>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loading").show();
        $("#reportArea").hide();
    });
    $('iframe').load(function () {
        $('#loading').hide();
        $("#reportArea").show();
    });
</script>
